:root{
  --brand-color: rgb(0, 140, 255);
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
*, ::after, ::before {
  box-sizing: border-box;
}
nav.navbar {
  z-index: 100;
  max-height: fit-content;
  backdrop-filter: blur(5px) brightness(1.01) contrast(1.1);
}
.navbar-brand {
  display: flex;
}
.navbar-brand img {
  height: 60px;
  width: 55px;
}
.logo-name-container {
  display: flex;
  align-items: center;
  color: var(--brand-color);
  font-size: 32px;
  line-height: 1.1;
  font-family: "Parisienne", "handwriting";
}

section {
  padding: 60px 0;
}

#hero-section {
  width: 100%;
  height: 100vh;
  background: url(../images/hero-image.png) top right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -100px;
}
.hero-container{
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}
.hero-container h3 {
  background-color: rgb(0 0 0 / 10%);
  font-size: 26px;
  padding: 10px 30px;
  margin-bottom: 30px;
  border-radius: 50px;
}
.hero-container strong{
  color: var(--brand-color);
}
.hero-container h1{
  margin: 0 0 10px;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
}
.btn-get-started{
  font-size: 13px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px;
  transition: 0.5s;
  border: 2px solid black;
  color: var(--brand-color);
  border-radius: 50px;
  margin: 100px 0 80px;
  font-weight: 550;
}
.btn-get-started:hover{
  background-color: var(--brand-color);
  color: white;
  text-decoration: none;
  border: 2px solid var(--brand-color);
}